.main_container {
  overflow-y: auto;
  height: 100%;
}

.title {
  display: flex;
  text-align: center;
  padding-left: 0.7em;
  padding-top: 0.6em;
  margin-bottom: 1em;
  position: relative;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.student_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 30%;
  background-color: rgb(174, 185, 199) !important ;
}

.image {
  max-width: 15em;
  max-height: 25em;
  text-align: center;
}

.card_body {
  background-color: #0d578b;
  color: white !important ;
}

/* Estilo adicional para mejorar la visualizaci칩n de la informaci칩n */
.link_to_paymet {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  text-align: center;
  border: 1px solid black;
  padding: 5px 10px;
  position: relative;
  /* Cambiar el valor de 'position' */
  left: 2%;
  /* A침adir la propiedad 'left' */
  top: 0%;
  /* A침adir la propiedad 'top' */

  background-color: #0f4cff;
  /* Color de fondo */
  color: #fff;
  /* Color de texto */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Sombra de texto */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  /* Sombra pronunciada */
}
