.navbar {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #3d6683;
  color: #fff;
  padding: 0 10px;
}

.container_navbar {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_logo {
  padding: 10px;
}

.container_logo img {
  width: 8em;
  height: 6.5em;
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .container_navbar {
    width: 99%;
  }
}

/*******************/

.div_links {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}

.links {
  text-decoration: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
